.invisible {
  display: none;
}
.windowContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.window {
  background-color: white;
  display: flex;
  border-radius: 25px;
  padding: 25px;
  justify-content: space-between;
  gap: 50px;
  box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 10px 10px 20px -2px rgba(0, 0, 0, 0.27);
}
.imgBus {
  width: 150px;
}
.lastColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnStyle {
  width: 100%;
  background-color: #0f67ea;
  color: white;
  border: none;
  padding: 7px 12px;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 4px 5px 3px -3px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 4px 5px 3px -3px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 4px 5px 3px -3px rgba(0, 0, 0, 0.27);
  max-width: 200px;
}
.btnStyle:hover {
  background-color: #0e53bc;
  box-shadow: 4px 5px 3px -3px rgba(0, 0, 0, 0.27) inset;
  -webkit-box-shadow: 4px 5px 3px -3px rgba(0, 0, 0, 0.27) inset;
  -moz-box-shadow: 4px 5px 3px -3px rgba(0, 0, 0, 0.27) inset;
}
